<!DOCTYPE html>
<html ng-app="demoApp">
<head>
	<title>Angular JS Module 4 (Modules, Routes and Factories)</title>
</head>
<body>
	<div ng-controller="SimpleController">
		Name:
		<br/>
		<input type="text" ng-model="nameText">
		<br />
		<ul>
			<li ng-repeat="cust in customers | filter:nameText">
				{{cust.name}} - {{ cust.city }}
			</li>
		</ul>
	</div>
	<script src="js/angular.min.js"></script>
	<script type="text/javascript">

	var demoApp = angular.module('demoApp', []);
	demoApp.controller('SimpleController', function($scope) {
	
			$scope.customers = [
				{name: 'John Smith', city: 'Phoenix'},
	   			{name: 'John Doe', city: 'New York'},
	  			{name: 'Jane Doe', city: 'San Francisco'}
			];
	   });
	
	</script>
</body>
</html>